@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

*{padding: 0;
margin: 0;
box-sizing: border-box;

font-family: Arial, Helvetica, sans-serif;
}
a{text-transform: uppercase;}


/* color palette:
#dcd7c9 - beige
#a27b5c - brown
#3f4e4f - blue */

body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #dcd7c9;
    
}

main{
    
    
    visibility: hidden;
    animation: showContent 3s forwards;
    height: 100vh;
}
main #intro{
    height: 94vh;
    width: 100vw;
    background-image: url("./images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
main #intro section{
    color: #dcd7c9;
    text-align: center;
    width: 30vw;
    position: absolute;
    right: 180px;
    top: 220px;
    transform: translateX(-100%); /* Start off-screen to the left */
    
    animation: slideIn 2s forwards;
    
    background-color: #a27b5c;
    padding: 20px;
    border-radius: 40px;
}


main  .info{
    background-color: #dcd7c9;
    color: #a27b5c;
    position: absolute;
    top: 92vh;
    z-index: 10;
    width: 100vw;
    height: 6vh;
    padding: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#welcome{
    
    
    color: #a27b5c ;
    width: 100vw;
    position: absolute;
    top: 150px;
    height: 5vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 350px;
}
#welcome h1{
    width: 50vw;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    -webkit-text-stroke: 1px  #dcd7c9;
    
    animation: slideOut forwards 2s;
}
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0%{
        
        transform: translateY(-80%) ;
    }
    100%{
        transform: translateX(0);
    }
}
.ourServices{
    background-image: url("./images/scott-graham-5fNmWej4tAA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.joinUs{
    background-image: url("./images/amina-atar-MA4aW8ZOzLM-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.contacts{
    background-image: url("./images/contacts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
    width: 100vw;
}
nav{
    
    display: flex;
    justify-content: center;
    background-color: #dcd7c9;
    background: linear-gradient(to bottom, #dcd7c9, rgba(0, 0, 0, 0) 100%);
    transition:  0.1s ease;
    position: fixed;
    top: 0px;
    z-index: 20;
}
nav ul{
    display: flex;
    width: 100vw;
    
    height: 12vh;
    gap: 30px;
    align-items: center;
    
    
    list-style: none;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;

    
}
nav ul section{
    width: 65vw;
    display: flex;
    justify-content: space-between;
   
}
nav ul section a {
    color: #dcd7c9;
    text-decoration: none;
    font-size: 40px;
    border: 4px solid rgba(255, 255, 255, 0.4);
    background-color: #a27b5c;
    background-size: 200% 200%;
    border-radius: 50% 10% / 10% 50%; 
    animation: gooey-border 20s infinite;
    transition: all 0.4s ease;
    padding: 15px;
}
nav ul img{
    width: 13vw;
    
    border-radius: 40px;
}



@keyframes gooey-border {
    0% {
        border-radius: 50% 10% / 10% 50%;
        border-width: 6px;
        border-color: #dcd7c9;
    }
    20% {
        border-radius: 70% 20% / 20% 70%;
        border-width: 6px;
        border-color: #dcd7c9;
    }
    40% {
        border-radius: 30% 50% / 50% 30%;
        border-width: 6px;
        border-color: #dcd7c9;
    }
    60% {
        border-radius: 80% 30% / 30% 80%;
        border-width: 6px;
        border-color: #dcd7c9;
    }
    80% {
        border-radius: 20% 60% / 60% 20%;
        border-width: 6px;
        border-color: #dcd7c9;
    }
    100% {
        border-radius: 50% 10% / 10% 50%;
        border-width: 6px;
        border-color: #dcd7c9;
    }
}




footer{
    position: relative;
    bottom: 0;
    width: 100vw;
   
    height: 14vh;
    background-color: #a27b5c;
    color: #dcd7c9;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    text-transform: uppercase;
}

footer section{
    
    margin: 6.5px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 10px;
}
footer section a{
    font-size: 2.5vw;
   
    padding-left: 20px;
    padding-right: 20px;
}



footer a{
    color: #dcd7c9;
    text-decoration: none;
    text-decoration: none;
}
.gitIcon{
    font-size: 80px;
    
    border-right: 5px solid #dcd7c9;
    border-radius: 10px;
    text-align: end;
    margin: 6.5px;
    padding-right: 10px;
    margin-left: 0px;
    color: #dcd7c9;
}
.emailIcon{
    font-size: 80px;
    padding-left: 15px;
    border-left: 5px solid #dcd7c9;
    border-radius: 10px;
    text-align: end;
    margin: 6.5px;
   
}
.emailIcon img{
    width: 4.7vw;
    padding-top: 5px;
}

body.loaded #loader {
    animation: hideLoader 1s forwards;
}


@keyframes showContent {
    0% { visibility: hidden; opacity: 0; }
    100% { visibility: visible; opacity: 1; }
}



#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #dcd7c9; 
    display: flex;
    align-items: center;
    justify-content: center;
    animation: hideLoader 2s forwards; 
}


.spinner {
    border: 16px solid #a27b5c; 
    border-top: 16px solid #3f4e4f; 
    border-radius: 50%;
    width: 200px; 
    height: 200px; 
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes hideLoader {
    0% { opacity: 1; }
    90% { opacity: 0; }
    100% { opacity: 0; display: none; } 
}


::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #a27b5c;
    border-radius: 4px;
    
    background-clip: content-box;
    border-left: 2px solid transparent;
    
}


