@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

*{padding: 0;
margin: 0;
box-sizing: border-box;
color: #dcd7c9;
}



/* color palette:
#dcd7c9 - beige
#a27b5c - brown
#3f4e4f - blue */

body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #dcd7c9;
}

nav{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    width: 70vw;
    height: 10vh;
    background-color: orange;
    justify-content: space-evenly;
    align-items: center;
    
    
    list-style: none;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
   
    height: 14vh;
    background-color: #a27b5c;
    color: #3f4e4f;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;

}

footer section{
    margin: 6.5px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



footer a{
    
    text-decoration: none;
    text-decoration: none;
}
.gitIcon{
    font-size: 80px;
    
    border-right: 5px solid #dcd7c9;
    border-radius: 10px;
    text-align: end;
    margin: 6.5px;
    padding-right: 15px;
    
}
.emailIcon{
    font-size: 80px;
    padding-left: 15px;
    border-left: 5px solid #dcd7c9;
    border-radius: 10px;
    text-align: end;
    margin: 6.5px;
   
}
.emailIcon img{
    width: 4.7vw;
    padding-top: 5px;
}