<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/IT-business/styles.css">
    <title>IT solutions</title>
</head>
<body>
    <main class="contacts">
        <nav>
            <ul>
                <li> <a href="../index.html">Home</a></li>
                <li><a href="./ourServices.html">Our Services</a></li>
                <li><a href="./joinUs.html">Join us</a></li>
                <li> <a href="./contacts.html">Contacts</a></li>
            </ul>
        </nav>
        
    </main>
    
    
    <footer> 
       
        <a class="gitIcon" href="https://github.com/mihailhr/IT-business" target="_blank"><i class="fa-brands fa-github"></i></a>
        <section>
            <h2>&copy;IT Solutions 2024; All rights reserved</h2>
        </section>
        <a  class="emailIcon" href="https://mail.google.com/mail/?view=cm&fs=1&to=mishohristov3@gmail.com" target="_blank"><img src="../images/output-onlinepngtools (1).png" alt=""></a>
        
    </footer>
</body>
</html>