main #intro {
    height: 94vh;
    width: 100vw;
    background-image: url("../images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main #intro section {
    color: #dcd7c9;
    text-align: center;
    width: 35vw;
    font-size: 20px;
    position: absolute;
    right: 140px;
    top: 220px;
    transform: translateX(-100%);
    animation: slideIn 2s forwards;
    background-color: #a27b5c;
    padding: 20px;
    border-radius: 40px;
}

#leftPic {
    margin-top: 60px;
    color: #dcd7c9;
    background-color: #3f4e4f;
    padding: 30px;
    height: 30vh;
}

#leftPic p, #rightPic p {
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
    text-indent: 20px;

}

#rightPic {
    color: #a27b5c;
    padding: 30px;
    text-align: right;
    margin-bottom: 10vh;
}

main .info {
    background-color: #dcd7c9;
    color: #a27b5c;
    position: absolute;
    top: 92vh;
    z-index: 10;
    width: 100vw;
    height: 7vh;
    padding: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.info p {
    font-size: 20px;
    font-weight: 600;

}

#welcome {
    color: #a27b5c;
    width: 100vw;
    position: absolute;
    top: 150px;
    height: 5vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 350px;
}

#welcome h1 {
    width: 50vw;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    -webkit-text-stroke: 2px #dcd7c9;

    animation: slideOut forwards 2s;
}